// component
.c-header {
    background: white;
    height: 100px;
    @include media-sp {
        display: none;
    }
    &__wrap {
        max-width: 980px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;     
        display: flex;
        align-items: center;
        justify-content: space-between;   
        height: 100px;
    }
    &__logo {
        display: flex;
        align-items: center;
        gap: 14px;
        a {
            color: #1E2528;  
            font-family: $font-noto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; 
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 12px;
        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--ttl {
            color: #F65757;
            font-family: $font-noto;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px; /* 175% */
            text-transform: uppercase;
        }
        &--phone {
            display: flex;
            align-items: center;
            gap: 7px;
            .__phone {
                color: #1E2528;
                font-family: $font-roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 37px; /* 154.167% */
            }
        }
        &--time {
            color: #677075;
            font-family: $font-noto;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 240% */
            text-transform: uppercase;
            margin-top: -5px;
        }
        &--btn {
            display: flex;
            align-items: center;
            gap: 4px;
            .__mes--btn {
                display: flex;
                width: 160px;    
                height: 48px;    
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                border: 1px solid #F65757; 
                background: #F65757;
                color: #fff;
                font-family: $font-noto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
                position: relative;           
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    background: white;
                    color: #F65757;                  
                    transition: all ease 0.35s;                
                    border-radius: 6px;                
                    z-index: -1;
                }
                &:hover {     
                    z-index: 1;  
                    color: #F65757; 
                    &::after {
                        width: 100%;
                        transition: all ease 0.35s;       
                    }
                }
            }
            .__line--btn {
                display: flex;
                width: 160px;    
                height: 48px;    
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                border: 1px solid #06C755; 
                background: #06C755;
                color: #fff;
                font-family: $font-noto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
                position: relative;
                z-index: 1;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    background: white;
                    color: #06C755;                  
                    transition: all ease 0.35s;                
                    border-radius: 6px;                
                    z-index: -1;
                }
                &:hover {     
                    z-index: 1;  
                    color: #06C755; 
                    &::after {
                        width: 100%;
                        transition: all ease 0.35s;       
                    }
                }
            }
        }
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;     
        background: #2DAB94;
        gap: 50px;
        @include media-pc {
            gap: 30px;
        }
        .__item {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 0;
                transition: all ease 0.35s;
                background: white;
            }
            &:hover {
                &::after {
                    width: 100%;
                    transition: all ease 0.35s;
                }
            }
            a {
                color: #fff;
                font-family: $font-noto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
            }
            
        }
    }
}

.c-contact {
    background: linear-gradient(180deg, #2DAB94 0%, #9EEFE1 100%);
    padding: 25px 23px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 375px;
    @include media-sp {
        width: 100%;
    }
    &__hurry {
        display: flex;
        max-width: 328px;
        width: 100%;
        margin: 0 auto;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        border: 2px solid #F65757;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &--ttl {
            color: #F65757;    
            font-family: $font-noto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
        }
        &__phone {
            display: flex;
            align-items: center;
            gap: 12px;
            .__phone-number {
                color: #1E2528;
                font-family: $font-noto;
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                line-height: 37px; /* 108.824% */
            }
        }
        &--time {
            color: #677075;
            font-family: $font-noto;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 153.846% */
            text-transform: uppercase;
        }
    }
    &__btn {
        display: flex;
        max-width: 328px;
        width: 100%;
        margin: 0 auto;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        border: 2px solid#E2F3F6;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        gap: 10px;
        &--ttl {
            color: #15584C;
            font-family: $font-noto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */          
        }
        .__mes--btn {
            display: flex;
            width: 249px;
            height: 48px;       
            justify-content: center;
            align-items: center;      
            border-radius: 6px;
            border: 1px solid #F65757; 
            background:#F65757;
            color: #FFF;
            font-family: $font-noto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: white;
                color: #F65757;                  
                transition: all ease 0.35s;                
                border-radius: 6px;                
                z-index: -1;
            }
            &:hover {     
                z-index: 1;  
                color: #F65757; 
                &::after {
                    width: 100%;
                    transition: all ease 0.35s;       
                }
            }
        }
        .__line--btn {
            display: flex;
            width: 249px;
            height: 48px;       
            justify-content: center;
            align-items: center;      
            border-radius: 6px;
            border: 1px solid #06C755;
            background:#06C755;
            color: #FFF;
            font-family: $font-noto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: white;
                color: #06C755;;                  
                transition: all ease 0.35s;                
                border-radius: 6px;                
                z-index: -1;
            }
            &:hover {     
                z-index: 1;  
                color: #06C755;; 
                &::after {
                    width: 100%;
                    transition: all ease 0.35s;       
                }
            }
        }
    }
}

