@import './media';
@import './config';
@import './reset';
@import './l-common';
@import './c-component';

.x-intro {
    position: relative;

    @include media-pc{
        margin: 0 40px;
    }

    &__cat-talk{ 
        position: absolute;
        bottom: 20px;
        right: 50px;
        display: flex;

        &--tk-card{
            width: 120px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-family: $font-noto;
            font-weight: 100%;
            line-height: 20px;
            writing-mode: vertical-rl;
            border: 1px solid #bbbbbb;
            border-radius: 5px;
        }

        img{
            width: 120px;
            height: auto;
        }

        @include media-pc {
            img{
                width: 90px;
                height: auto;
            }
            right: 0px;
        }

        @include media-sp {
            img{
                width: 80px;
                height: auto;
                right: 25px;
            }
            right: 0px;
            bottom: 0px;
        }

        &--cat-ttl{
            width: 120px;
            height: 40px;
            border: 1px solid #06c755;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-family: $font-roboto;
            font-weight: 100%;
            line-height: 20px;
            color: #06c755;
            margin-top: -22px;
            box-shadow: 3px 3px #06C755;
        }
    }

    &__card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 0 0;

        @include  media-sp {
            flex-direction: column;
        }

        @include media-pc {
            img{
                width: 230px;
                height: auto;
            }
        }

        @include media-sp {
            img{
                width: 100%;
                height: 100%;
                margin: 10px 0;
            }
        }


        
        
    }

    &__des{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 150px 0;

        @include media-sp {
            margin: 120px 0 140px 0;
        }

        &--content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 484px;
            height: auto;

            &__subttl{
                font-size: 16px;
                font-family: $font-roboto;
                font-weight: 100%;
                font-style: normal;
                line-height: 35px;
                text-align: left;
                letter-spacing: 1px;
                color: #bbbbbb;
                margin-bottom: 10px;
            }

            &__ttl{
                font-size: 28px;
                font-family: $font-noto;
                font-weight: 100%;
                font-style: normal;
                line-height: 44px;
                text-align: left;
                letter-spacing: 3px;
                color: #333333;
                margin-bottom: 30px;
            }

            &__sen{
                font-size: 13px;
                font-family: $font-noto;
                font-weight: 100%;
                font-style: normal;
                line-height: 32px;
                text-align: left;
                letter-spacing: 3px;
                color: #333333;
                margin-bottom: 35px;
            }

            &__btn-story{
                width: 240px;
                height: 50px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 16px;
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 100%;
                color: #333333;
                letter-spacing: 3px;
                border: 1px solid #333333;
                border-radius: 50px;

                svg{
                    position: absolute;
                    right: 25px;
                }
            }
        }

        &--figure{
            width: 484px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__btn-story-figure{
                width: 240px;
                height: 50px;
                margin-top: 60px;
                padding: 13px 0;
                text-align: center;
                position: relative;
                font-size: 16px;
                font-family: $font-roboto;
                font-style: normal;
                font-weight: 100%;
                color: #333333;
                letter-spacing: 3px;
                border: 1px solid #333333;
                border-radius: 50px;

                svg{
                    position: absolute;
                    right: 25px;
                    top: 10px;
                }
            }
        }
    }
}

.x-flash-bg {
    height: 510px;
    background: url(../img/middle_section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  
    @include media-pc {
        background: url(../img/middle_pc.png);
        background-position: center;
        background-size: 100% 100%;
    }

    @include media-sp {
        height: 750px;
        background: url(../img/middle_sp.png);
        background-size: 100% 100%;
        background-position: center;
    }
}